<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearnNest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Sign.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/course.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/lesson.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Online_Learning_Platform.styles.css" asp-append-version="true" />
    <link rel="icon"  href="~/img/logo.png">
    <style>
        nav {
            border-bottom: 2px solid var(--main-color);
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="width: 5%;">
                    <img src="~/img/logo.png" width="100%"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">AboutUs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Course" asp-action="ShowAllCourses" asp-route-page="1">Courses</a>
                        </li>
                        @if (ViewContext.HttpContext.Session.GetString("Id") != null && ViewContext.HttpContext.Session.GetString("Type") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="DashBoard">DashBoard</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="buttons">
                    @if (ViewContext.HttpContext.Session.GetString("Id") == null || ViewContext.HttpContext.Session.GetString("Type") == null)
                    {
                        <button class="sign-in">
                            <a asp-area="" asp-controller="User" asp-action="SignIn">Sign In</a>
                        </button>

                        <button class="sign-up">
                            <a asp-area="" asp-controller="User" asp-action="SignUp">Sign Up</a>
                        </button>
                    }
                    else
                    {
                            <a asp-area="" asp-controller="User" asp-action="Profile" class="profile-link">
                                <img src="~/img/user.png" alt="profile" class="profileimg"/>
                            </a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="main">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" style="display: none;">
        <div class="container">
            &copy; 2024 - Online_Learning_Platform - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a href="https://www.freepik.com/free-vector/female-student-listening-webinar-online_9175118.htm#fromView=search&page=1&position=34&uuid=9478143e-93f2-43fa-9a51-f89d49459d70">Image by pch.vector on Freepik</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
