@model Online_Learning_Platform.Models.User;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sign In";
}

<head>
    <style>
        header, footer {
            opacity: 0;
        }

        main {
            display: flex;
            justify-content: center;
            width: 100%;
        }

            main::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                filter: drop-shadow(2px 4px 6px black) blur(1px);
            }
    </style>
</head>
<main>
    <div class="sign">
        <form class="sign-in-form" asp-controller="User" asp-action="SignIn" method="post" enctype="multipart/form-data">

            <div class="form-content">

                <div>
                    <label for="email">Email</label>
                    <input id="email" type="email" placeholder="Enter Your Email" asp-for="UserEmail" required />
                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                </div>

                <div>
                    <label for="pass">Password</label>
                    <input id="pass" type="password" placeholder="Enter Your Password" asp-for="UserPassword" required />
                    <span asp-validation-for="UserPassword" class="text-danger"></span>
                </div>
                
                <div class="types">
                    <div>
                        <label for="user">User</label>
                        <input class="input" id="user" type="radio" value="user" name="Type" required />
                    </div>

                    <div>
                        <label for="courseProvider">Course Provider</label>
                        <input class="input" id="courseProvider" type="radio" value="courseProvider" name="Type" required />
                        <span asp-validation-for="UserType" class="text-danger"></span>
                    </div>
                </div>
                    
            </div>

            <div class="sign-in-buttons">
                <button type="submit">Sign In</button>
                <div>
                    <p>Don't have an account? join us!</p>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Join Us!</a>
                </div>
            </div>


        </form>
    </div>
</main>