@{
    ViewData["Title"] = "Home Page";
}



<section class="home">
   <div class="home-text">
       <h1>Let's Learn Online</h1>
       <p>Build Your Learnig Nest With LearnNest!</p>
       <p>loremlorem lorem loremloremloremloremloremloremloremloremloremlorem
       </p>
       <button>Join Us</button>
   </div>
</section>
