@{
    ViewData["Title"] = "Home Page";
}

<style>
</style>

<section class="home">
   <div class="home-text">
        <h1><span class="typing-effect">Let's Learn Online</span></h1>
       <p>Build Your Learnig Nest With LearnNest!</p>
       <p>loremlorem lorem loremloremloremloremloremloremloremloremloremlorem
       </p>
        <a asp-controller="User" asp-action="SignUp">
            <button>Join Us</button>
       </a>
   </div>
</section>

<script>
    const typingEffect = document.querySelector('.typing-effect');

    // Listen for the end of the typing animation
    typingEffect.addEventListener('animationend', function () {
        // Remove the width restriction for natural flow and apply bounce
        typingEffect.style.width = 'auto';
        typingEffect.classList.add('bounce');
    });
</script>
