
.sign {
    display: flex;
    height: 100%;
    align-items: center;
    width: 70%;
    justify-content: center;
    border: 3px solid var(--second-main-color);
    border-radius: 10px;
    background-color: #1d26498a;
    position: relative;
    z-index: 1;
}

.sign-in-form {
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 90%;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-items: center;
}

.sign-in-form div {
    display: grid;
    justify-content: start;
}

.sign-in-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-content {
    display: flex;
    color: var(--font-color);
    height: 60%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.labels {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.labels labels {
    font-size: 1.5vw;
} 

.inputs {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
}

inputs {
    outline: none;
}

.sign-in-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.sign-in-buttons button {
    width: 100%;
    height: 70%;
    background-color: var(--second-main-color);
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 10px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.5vw;
}

.sign-in-buttons button:hover {
    background-color: var(--main-color);
    color: var(--second-main-color);
}

.sign-in-buttons div {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

}

.sign-in-buttons div {
    width: 100%;
    display: flex;
    color: var(--font-color);
    flex-direction: column;
    font-size: 1vw;
}

.sign-in-buttons div a {
    text-decoration: none;
    color: var(--second-main-color);
}

/*Sign Up*/

.SignUp-block .user-img {
    background-image: url(../img/user.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    filter: invert(1);
    border: 1px solid transparent;
}

.signUp-form {
    height: 100%;
    width: 55%;
    display: grid;
    justify-items: center;
    align-content: space-evenly;
    padding: 1%;
}

.signUp-form div {
    display: flex;
    flex-direction: column;
    width: inherit;
    color: var(--font-color);
}

.SignUp-block {
    height: 100%;
    display: flex;
    gap: 5%;
}

.SignUp-block h1 {
    font-size: 4vw;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-right: 5px solid var(--font-color);
    color: var(--main-color);
    background-color: var(--second-main-color);
    filter: opacity(0.5);
}

.SignUp-block h1 img {
    width: 50%;
}

.signUp-form button {
    background-color: var(--second-main-color);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: var(--main-color);
    font-weight: bold;
}

.signUp-form button:hover {
    background-color: var(--main-color);
    color: var(--second-main-color);
}

.SignUp-block .type {
    flex-direction: row;
    display: flex;
}

.SignUp-block .type div {
    display: flex;
    align-items: flex-start;
}

.SignUp-block input, .sign-in-form input {
    border: none;
    outline: none;
    border-radius: 5px;
    border-bottom: 2px solid var(--second-main-color);
    /* border-radius: 5px; */
    /* opacity: .7; */
    color: #635369;
}

.sign-in-form label {
    color: var(--font-color);
}

.input {
    background-color: transparent;
}

.inputHasContent {
    background-color: #E8F0FE;
    color: black !important;
}