* {
    transition: all .5s;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url(../img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

header {
    height: 10%;
}

nav {
    height: 100%;
    margin: 0 !important;
    background-color: transparent;
}

.main {
    height: 80%;
    margin: 0 !important;
    padding: 0 !important;
}

main {
    height: 100%;
}



/*nav style*/

nav a {
    color: #fff !important;
    font-weight: bold;
    font-size: 1.3vw;
}

nav a:hover {
    color: #fa5090 !important;
}

.buttons {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttons button {
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 2%;
    padding: 3%;
    font-size: 1.3vw;
}

.buttons a {
    text-decoration: none;
}

.sign-up {
    background-color: #fa5090;
}

.sign-up a {
     color: #1e0235;
}

.sign-up:hover {
    background-color: #1e0235;
}

.sign-up:hover a {
    color: #fa5090; 
}

.sign-in {
    background-color: transparent;
}

.sign-in a { 
    color: #fff;
}

.sign-in:hover {
    background-color: #1e0235;
}

.sign-in:hover a {
    color: #fa5090;
}
/*footer*/
footer {
    background-color: transparent;
    height: 10%;
    padding: 10px 5%;
    color: #fff !important;
    border: 0 !important;
}

.footer a  {
    text-decoration: none;
    color: #fff;
}