@model Online_Learning_Platform.Models.Course
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var numCourses = (int)ViewData["numCourses"];
    var numStudents = (int)ViewData["numStudents"];
}

<style>

    footer {
        display: none;
    }
    
    .main {
        height: 90%;
    }
</style>

<section class="courseProvider-details">

    <aside>
        <a onclick="CourseCreate()">
            <button>Create a Course</button>
        </a>

        <a asp-controller="CourseProvider" asp-action="RemoveCourse">
            <button>Remove a Course</button>
        </a>

        <p class="total-details">
        </p>
    </aside>

    <div class="details">
        <div>

            <a asp-controller="Course" asp-action="ViewMyCourses">
                <button>Courses' Details</button>
            </a>

            <div class="best-courses-details">
                <h4>Best Courses</h4>
                <div></div>
            </div>
        </div>

        <div class="rate">

            <div class="taken-rate">
                        <p>Students Taked Your Courses:</p>
                <div id="number"></div>

            </div>


            <a asp-controller="CourseProvider" asp-action="ViewCoursesDetails">
                <button>View Details</button>
            </a>
        </div>

    </div> 

    <section class="course-creation">

        <h4>Course Creation</h4>

        <form asp-controller="Course" asp-action="CreateCourse" method="post" enctype="multipart/form-data">
            <div>
                <label for="courseName">Course Name</label>
                <input id="courseName" name="courseName" type="text" maxlength="50" required asp-for="@Model.CourseName" style="border-bottom: 3px solid var(--second-main-color); padding: 2%;"/>
            </div>

            <div>
                <label for="courseDes">Course Description</label>
                <textarea id="courseDes" name="courseDes" maxlength="250" required asp-for="@Model.CourseDescription" style="border-bottom: 3px solid var(--second-main-color); padding: 2%;"></textarea>
            </div>

            <div class="img">
                <label for="courseImage">Course Image</label>
                <input id="courseImage" name="courseImage" type="file" accept="image/*" >
            </div>

            <button type="submit">Create</button>
        </form>
        <button onclick="CancelCreation()">Cancel</button>
    </section>

</section>


<script>

    window.onload = function ()
    {
        document.querySelector('.total-details').innerHTML = `You Have Created ${@Html.Raw(numCourses)} in Total`;
    }

    function CourseCreate() 
    {
        let courseBlock = document.querySelector('.course-creation');
        courseBlock.style.transform = "translateY(0px)";
        ;
    }

    function CancelCreation() {
        let courseBlock = document.querySelector('.course-creation');
        courseBlock.style.transform = "translateY(-1000px)";
    }

    /*Number of Students Animation*/

    let number = document.getElementById("number");
    let counter = 0;
    let val = @Html.Raw(numStudents);
    number.innerHTML = counter + ' Student';
    setInterval(() => {
        if (counter == val) {
            clearInterval();
        }
        else {
            counter += 1;
            number.innerHTML = counter + ' Student';
        }

    }, 30);

</script>