@model Online_Learning_Platform.Models.Course
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    footer {
        display: none;
    }
    
    .main {
        height: 90%;
    }
</style>

<section class="courseProvider-details">

    <aside>
        <a onclick="CourseCreate()">
            <button>Create a Course</button>
        </a>

        <a asp-controller="CourseProvider" asp-action="RemoveCourse">
            <button>Remove a Course</button>
        </a>

        <p class="total-details">
            total of $ courses
            were created
        </p>
    </aside>

    <div class="details">
        <div>

            <a asp-controller="Course" asp-action="ViewMyCourses">
                <button>Courses' Details</button>
            </a>

            <div class="best-courses-details">
                <h4>Best Courses</h4>
                <div></div>
            </div>
        </div>

        <div class="rate">
            <div class="taken-rate"></div>
            <a asp-controller="CourseProvider" asp-action="ViewCoursesDetails">
                <button>View Details</button>
            </a>
        </div>

    </div>

    <section class="course-creation">

        <h4>Course Creation</h4>

        <form asp-controller="Course" asp-action="CreateCourse" method="post" enctype="multipart/form-data">
            <div>
                <label for="courseName">Course Name</label>
                <input id="courseName" name="courseName" type="text" maxlength="50" required asp-for="@Model.CourseName"/>
            </div>

            <div>
                <label for="courseDes">Course Description</label>
                <textarea id="courseDes" name="courseDes" maxlength="250" required asp-for="@Model.CourseDescription"></textarea>
            </div>

            <div class="img">
                <label for="courseImage">Course Image</label>
                <input id="courseImage" name="courseImage" type="file" accept="image/*" >
            </div>

            <button onclick="CancelCreation()">Cancel</button>
            <button type="submit">Create</button>
        </form>

    </section>

</section>


<script>

    function CourseCreate()
    {
        let courseBlock = document.querySelector('.course-creation');
        courseBlock.style.display = "grid";
    }

    function CacelCreation() {
        let courseBlock = document.querySelector('.course-creation');
        courseBlock.style.display = "none";
    }

</script>