@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    footer {
        display: none;
    }
    
    .main {
        height: 90%;
    }
</style>

<section class="courseProvider-details">

    <aside>
        <a asp-controller="CourseProvider" asp-action="CreateCourse">
            <button>Create a Course</button>
        </a>

        <a asp-controller="CourseProvider" asp-action="RemoveCourse">
            <button>Remove a Course</button>
        </a>

        <p class="total-details">
            total of $ courses
            were created
        </p>
    </aside>

    <div class="details">
        <div>
            <button>Courses' Details</button>
            <div class="best-courses-details">
                <h4>Best Courses</h4>
                <div></div>
            </div>
        </div>

        <div class="rate">
            <div class="taken-rate"></div>
            <a asp-controller="CourseProvider" asp-action="ViewCoursesDetails">
                <button>View Details</button>
            </a>
        </div>

    </div>

</section>


